.progress-bar {
  position: absolute;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: 0.5s;
  z-index: 1;
  left: 0;
  height: 100%;
} 
  
.progress-bar_vertical {
  top: 0;
  width: 100%;
  height: auto;
}
  
.progress-bar_color_first {
  background-color: #915e4e;
}
  
.progress-bar_color_second {
  background-color: #cf866f;
}
  
.progress-bar_color_third {
  background-color: #4e9179;
}
  
.progress-bar_color_fourth {
  background-color: #6fcf97;
}
  
.progress-bar_hidden {
  opacity: 0;
}
  