.slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.js-slider__field_horizontal {
  position: relative;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  height: 8px;
  width: 100%;
  cursor: pointer;
  z-index: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.js-slider__field_vertical {
  position: relative;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  height: 100%;
  width: 8px;
  cursor: pointer;
  z-index: 0;
  display: flex;
  align-items: center;
}

.js-slider__button {
  display: inline-flex;
  position: absolute;
  width: 18px;
  height: 18px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  justify-content: center;
}

.js-slider__button_isTarget {
  z-index: 10;
}

.js-slider__button_isVertical {
  transform: translateX(-25%);
}

.-js-slider__tooltip {
  padding: 1px 5px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  font-size: 13px;
  z-index: 2;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  min-width: 10px;
  min-height: 16px;

  flex-shrink: 0;
}

.-js-slider__tooltip_isHorizontal {
  transform: translateY(-120%);
  white-space: nowrap;
}

.-js-slider__tooltip_isVertical {
  left: 150%;
  position: absolute;
}

.-js-slider__tooltip_hide {
  visibility: hidden;
}

.js-progressBar {
  position: absolute;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: 0.5s;
  z-index: 1;
}

.js-progressBar_horizontal {
  left: 0;
  height: 100%;
}

.js-progressBar_vertical {
  top: 0;
  width: 100%;
}

.js-progressBar_color_1 {
  background-color: #915e4e;
}

.js-progressBar_color_2 {
  background-color: #cf866f;
}

.js-progressBar_color_3 {
  background-color: #4e9179;
}

.js-progressBar_color_4 {
  background-color: #6fcf97;
}

.-js-slider__bar_hide {
  opacity: 0;
}

.js-slider__scale_horizontal {
  display: flex;
  font-size: 14px;
  margin: 30px 0px 0px 0px;
  font-stretch: expanded;
  position: absolute;
  width: 98%;
}

.js-slider__scale_horizontal div {
  position: absolute;
  transform: translateX(-50%);
}

.js-slider__scale_vertical {
  display: flex;
  font-size: 14px;
  font-stretch: expanded;
  flex-direction: column;
  height: 90%;
  position: relative;
  right: 30px;
  align-items: flex-end;
  margin-top: 10px;
}

.js-slider__scale_horizontal div,
.js-slider__scale_vertical div {
  cursor: pointer;
  position: absolute;
}

.js-slider__scale_vertical div {
  transform: translateY(-50%);
}

.js-slider__scale_vertical div {
  height: 15px;
}

.-js-slider__scale_hide {
  visibility: hidden;
}
